doctype html
html
	head
		title= title

		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#wrap
			include header
			block content
		include footer

		script(type='javascript', href='//code.jquery.com/jquery-1.11.3.min.js')
		script(type='javascript', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
		script(type='javascript', href='/javascripts/myjquery.js')